.UsesItem {
    background-color: #223442;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.UsesItem svg {
    height: 60px;
    fill: #EAF2F8;
    margin: auto;
    text-align: center;
}

.UsesItemTitle {
    font-size: 36px;
    margin: 0;
}