.COVID {
    /* background-color: #283747; */
    background-color: #f15555;
    background-image: url('../assets/98doiv3c.bmp');
    height: 100vh;
    color: #EAF2F8;
    font-family: 'Open Sans';
    margin: 0;
}

@media screen and (max-width: 1126px) {
    .COVID {
        height: 100%;
    }
}