.About {
    width: 100%;
    left: 0;
    top: 0;
    /* padding-left: 1rem; */
    padding-bottom: 50px;
    max-width: 1450px;
}

.About h1 {
    font-weight: lighter;
    font-size: 72px;
    margin: 1rem;
    margin-bottom: 30px;
}

.AboutBlocks {
    display: grid;
    width: 85%;
    margin: auto;
    grid-template-columns: auto auto auto auto;
}

.AboutBlock {
    width: 85%;
    height: 240px;
    border-radius: 20px;
    background-color: #34495E;
    text-align: center;
    box-shadow: -4px 3px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.Rocket {
    margin-top: 10px;
    height: 45px;
    width: 45px;
}

.Lightbulb {
    margin-top: 10px;
    height: 45px;
    width: 30.94px;
}

.Mobile {
    margin-top: 10px;
    height: 45px;
    width: 28.13px;
}

.Snowflake {
    margin-top: 10px;
    height: 45px;
    width: 39.38px;
}

.AboutBlockHeader {
    color: #EAF2F8;
    font-size: 36px;
    margin: 0;
}

.AboutBlockHr {
    width: 190.01px;
    color: #EAF2F8;
}

.AboutBlockText {
    color: #85C1E9;
    font-size: 18px;
    margin: 0px 5px;
}

.AboutMeSection {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 75%;
    margin: auto;
    align-self: center;
    margin-top: 40px;
    /* background-color: #34495E; */
    border-radius: 20px;
    padding: 10px;
}

/* .BackgroundBlock {
    position: absolute;
    width: 1021px;
    height: 400px;
    left: 17%;
    top: 1126px;
    background: #34495E;
    box-shadow: -4px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 1;
} */

.WhoAmIBlock {
    z-index: 100;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #5D6D7E;
    color: #EAF2F8;
    border-radius: 20px;
    box-shadow: -4px 3px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.WhoAmIImg {
    width: 111px;
    height: 112.01px;
    border-radius: 61.5px;
    margin-top: -20px;
}

.WhoAmIHeader {
    font-size: 36px;
    margin: 0;
    font-weight: lighter;
}

.WhoAmIHr {
    width: 190.01px;
    color: #EAF2F8;
}

.WhoAmIText {
    font-size: 18px;
    margin: 0px 15px;
    margin-bottom: 15px;
}

.WhoAmILink {
    text-decoration: none;
    color: #85c1e9;
    font-size: 24px;
    border: 1px solid #85c1e9;
    width: 188px;
    height: 38px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all .2s;
}

.WhoAmILink:hover, .WhoAmILink:focus {
    background-color: #85c1e9;
    color: #EAF2F8;
    transition: all .2s;
}

.SkillsBlock {
    width: 100%;
    height: 364px;
    border-radius: 0 20px 20px 0;
    background-color: #17202A;
    font-family: Consolas;
    z-index: 50;
    margin-top: 15px;
    box-shadow: -4px 3px 4px rgba(0, 0, 0, 0.25);
    margin-left: -15px;
}

.SkillsBlockHeader {
    font-size: 28px;
    font-family: 'Open Sans';
    font-weight: lighter;
    color: #EAF2F8;
    margin: 0;
    margin-left: 1.5rem;
    margin-top: 1rem;
    text-align: left;
}

.SkillsBlockHr {
    color: #EAF2F8;
    width: 90%;
    text-align: left;
    margin-left: 25px;
}

.SkillsList {
    color: #F0B27A;
    font-size: 18px;
    list-style-type: none;
    margin-left: -10px;
}

.SkillsList li {
    display: grid;
    grid-template-columns: 20% 15% 90%;
}

.SkillPercent {
    align-content: right;
}

.SkillsList svg, .SkillsList img {
    margin-bottom: -10px;
    height: 33.33px;
}

.WhiteBar {
    background-color: #EAF2F8;
    width: 65%;
    height: 21px;
    border-radius: 3px;
    float: right;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 10px;
}

.HTMLBar {
    background-color: #E44D26;
    width: 90%;
    height: 21px;
    border-radius: 3px 0 0 3px;
}

.CSSBar {
    background-color: #3C99DC;
    width: 90%;
    height: 21px;
    border-radius: 3px 0 0 3px;
}

.JSBar {
    background-color: #F0DB4F;
    width: 85%;
    height: 21px;
    border-radius: 3px 0 0 3px;
}

.NodeBar {
    background-color: #68A063;
    width: 70%;
    height: 21px;
    border-radius: 3px 0 0 3px;
}

.ReactBar {
    background-color: #61DBFB;
    width: 85%;
    height: 21px;
    border-radius: 3px 0 0 3px;
}

.ReduxBar {
    background-color: #764ABC;
    width: 70%;
    height: 21px;
    border-radius: 3px 0 0 3px;
}

.WebDesignBar {
    background-color: #F1948A;
    width: 80%;
    height: 21px;
    border-radius: 3px 0 0 3px;
}

@media screen and (max-width: 1402px) {
    .WhiteBar {
        width: 55%;
    }
}

@media screen and (max-width: 1128px) {
    .AboutBlocks {
        display: grid;
        grid-template-columns: auto auto;
        align-self: center;
        margin: auto;
    }
    
    .AboutBlock {
        margin: 0;
        margin-bottom: 15px;
        align-self: center;
    }

    .BackgroundBlock {
        display: none;
    }

    .AboutMeSection {
        display: block;
        width: 100%;
        padding: 0;
    }

    .WhoAmIBlock {
        margin: auto;
        width: 90%;
        margin-top: 30px;
    }

    .SkillsBlock {
        margin: auto;
        width: 95%;
        margin-top: 15px;
        border-radius: 20px;

    }
}

@media screen and (max-width: 627px) {
    .About {
        padding-bottom: 0;
    }

    .AboutBlocks {
        display: block;
        width: 90%;
        margin: auto;
        align-items: center;
    }

    .AboutBlock {
        margin: auto;
        margin-top: 10px;
    }

    .WhoAmIBlock {
        width: 90%;
    }

    .SkillsBlock {
        width: 99%;
        margin: auto;
    }

    .WhiteBar {
        width: 35%;
    }
}