.Contact {
    background-color: #283747;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 0;
    /* padding-left: 1rem; */
}

.ContactHeader {
    font-weight: lighter;
    font-size: 72px;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 30px;
    color: #EAF2F8;
}

.ContactMain {
    max-width: 1450px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 0;
}

.ContactFormContainer {
    background-color: #34495E;
    border-radius: 0 5px 0 0;
    margin-bottom: 0;
}

.ContactForm {
    margin: auto;
    width: 80%;
    padding-top: 20px;
}

.FormInput {
    height: 28px;
    width: 100%;
    font-weight: lighter;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    padding-left: 5px;
}

.FormMessage {
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    height: 100px;
    border-radius: 3px;
    border: none;
    font-family: 'Open Sans';
    padding-left: 5px;
    margin-bottom: 10px;
    resize: none;
}

.FormButton {
    width: 300px;
    height: 35px;
    font-size: 20px;
    color: #85C1E9;
    border: 1px solid #85C1E9;
    background-color: transparent;
    border-radius: 3px;
    transition: all .2s;
    font-family: 'Open Sans';
    font-weight: lighter;
}

.FormButton:hover, .FormButton:focus {
    background-color: #85C1E9;
    color: #ffffff;
    transition: all .2s;
}

.FollowMe {
    background-color: #DDF0FF;
    border-radius: 0 5px 0 0;
    width: 362px;
    margin-bottom: 0;
    padding: 2px;
    margin-top: 20px;
}

.FollowMeList {
    list-style: none;
    margin-bottom: 10px;
}

.FollowMeListItem {
    margin-top: 10px;
}

.FollowMeSvg {
    width: 30px;
    margin-bottom: -7px;
}

.FollowMeLink {
    color: #3C99DC;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 10px;
    transition: all .2s;
}

.FollowMeLink:hover, .FollowMeLink:focus {
    color: rgb(106, 192, 250);
    transition: all .2s;
}

.ContactRight {
    width: 95%;
    margin-left: 20px;
    background-color: #17202A;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
    height: min-content;
}

.ContactImg {
    width: 97%;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}