.Layout {
    display: block;
    /* padding: 10px; */
    margin: auto;
    width: 80%;
    text-align: center;
    font-family: 'Open Sans';
}

.Layout h1 {
    font-size: 64px;
    margin: 0;
}

.Layout a {
    text-decoration: none;
    color: #85c1e9;
    transition: all .2s;
}

.Layout a:hover {
    color: #9cd3f7;
    transition: all .2s;
}