.Titlecard {
    background-color: #34495E;
    color: #EAF2F8;
    width: 100%;
    left: 0;
    top: 0;
    /* padding-left: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.Titlecardtext {
    padding-left: 1rem;
}

.Titlecard h1 {
    font-weight: lighter;
    font-size: 72px;
    margin: 0;
    padding: 0;
}

.DescriptionBlock {
    font-family: Consolas;
    width: 90%;
    height: 246px;
    margin: 1rem;
    background-color: #17202A;
    border-radius: 10px;
    font-size: 22px;
    padding: 20px;
    padding-top: 5px;
}

.DescriptionBlock p {
    color: #3498DB;
}

.Bracket {
    color: #85C1E9;
}

.Semicolon {
    color: #ffffff;
}

.DescriptionBlock ul {
    list-style-type: none;
    color: #F0B27A;
}

.Comma {
    color: #ffffff;
}

.Equal {
    color: #ffffff;
}

.Titlecard a {
    text-decoration: none;
    color: #85c1e9;
    font-size: 36px;
    border: 1px solid #85c1e9;
    width: 323px;
    height: 52px;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 1rem;
    transition: all .2s;
    font-weight: lighter;
}

.Titlecard a svg{
    width: 46px;
    height: 38px;
    align-self: baseline;
    margin-right: 10px;
    margin-bottom: -7px;
}

.Titlecard a:hover, .Titlecard a:focus {
    background-color: #85c1e9;
    color: #EAF2F8;
    transition: all .2s;
}

.DesktopFace {
    width: 90%;
    height: 530px;
    border-radius: 20px;
    object-fit: cover;
    margin: 20px;
}

@media screen and (max-width: 1146px) {
    .Titlecard {
        display: block;
    }

    .DesktopFace {
        display: none;
    }

    .Titlecard a {
        margin-left: 0;
    }
}

@media screen and (max-width: 630px) {
    .Titlecard h1 {
        font-size: 64px;
    }

    .DescriptionBlock {
        width: 90%;
        margin-left: -10px;
        font-size: 18px;
        height: 200px;
    }
}