.Work {
    background-color: #34495E;
    width: 100%;
    left: 0;
    top: 0;
    /* padding-left: 1rem; */
    padding-bottom: 30px;
}

.WorkHeader {
    font-weight: lighter;
    font-size: 72px;
    margin: 1rem;
    margin-bottom: 30px;
    color: #EAF2F8;
}

.WorkItems {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1450px;
}

@media screen and (max-width: 1100px){
    .WorkItems {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 600px){
    .WorkItems {
        grid-template-columns: auto;
    }
}